#content-container {
  display: flex;
  flex-direction: column;
}

#city-cards {
  height: 310px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

#city-cards img {
  height: 150px;
  width: 150px;
  border-radius: 25%;
}

.city-image {
  width: 150px;
  height: 150px;
  box-shadow: 10px 10px 10px grey;
  position: relative;
  border-radius: 25%;
}

.city-name-div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #f1f1f1;
  border-radius: 25%;
}

.city-name {
  /* margin: 0; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.city-image:hover .city-name-div {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

#search-bar {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  height: 380px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative;*/
}

#search-bar-input {
  width: 30%;
  /*relative might change while doing responsive*/
  border: 1px solid transparent;
  border-radius: 12px;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

#search-bar-input:focus {
  outline: none;
}

#view-more {
  text-align: center;
  margin-bottom: 2.5%;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  #search-bar-input {
    width: 40%;
  }

  #city-cards {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    /* margin: 10%; */
  }

  .city-image {
    margin: 7.5%;
    text-align: center;
  }
}