#content-container {
  display: flex;
  flex-direction: column;
  min-height: 650px;
  margin-top: 2%;
  align-content: center;
}

#hotel-info {
  display: flex;
  background-color: rgb(132, 136, 139);
  height: 20%;
  margin: 5% auto 2% auto;
  align-items: center;
}

.hotel-image-payment {
  max-height: 300px;
  max-width: 270px;
}

#hotel-info-details {
  margin-left: 2%;
  margin-top: 4%;
}

#info-container {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: space-evenly;
  margin: 0% 2%;
  background-color: rosybrown;
  height: 200px;
  align-items: center;
}

.headers {
  font-family: cursive;
  font-weight: bold;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 600px) {
  #hotel-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hotel-image-payment {
    margin-top: 5%;
  }

  #info-container {
    display: flex;
    flex-direction: column;
    margin: 0%;
    padding: 10% 5%;
    height: 100%;
  }

  #customer-info,
  #tariff-info {
    width: 100%;
  }
}