.hotel-image {
    height: 200px;
    width: 250px;
  }
  
  .hotel-image-container {
    margin: 4% 5% 0% 5%;
    background-color: lightgrey;
    width: 40%;
    float: left;
    display: flex;
    justify-content: start;
    align-content: center;
  }
  
  .hotel-image-container:hover {
    background-color: rosybrown;
  }
  
  ul {
    list-style: none;
  }
  li {
    display: inline;
    color: black;
    margin: 1.5% 0px;
  }
  
  #pills-tab {
    justify-content: center;
  }
  
  #content-container {
    height: 700px;
    width: 100%;
  }
  
  .hotel-details {
    display: block;
    margin: 2% 2.5%;
  }
  
  @media only screen and (max-width: 768px) {
    .hotel-image-container {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin-bottom: 5%;
    }
  
    #map-view img {
      width: 100%;
    }
  
    #map-view {
      text-align: center;
    }
  }